header{
    padding: 1% 5%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 1px solid black;

    .link{
        text-decoration: none;
        .link-div{
            padding:  1px 8px;

            // border: none;
            border: solid 1px #62C188;
            border-radius: 5px;

            background-color: #62C188;
            color: white;

            font-weight: bold;
            font-size: 13px;
        }:hover{
            background-color: white;
    
            color: #62C188;
    
            // border: solid 1px #62C188;
        }

    }

    .deconnexion{
        padding: 5%;

        border-radius: 5px;

        border: solid 1px #FF7B6F;
        background-color: white;

        color:#FF7B6F;
        font-size: 13px;
        font-weight: bold;

        cursor: pointer; 
    } 
    .deconnexion:hover{
        background-color: #FF7B6F;
        color: white;
    }




      

        .header-buttons{
            display: flex;
            justify-content: space-between;
            // align-items: center;
            width: 18%;
        }
  
}