.container-answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EAF9EC;
    // align-items: center;
    position: relative;
    padding: 1% 0;

    h1{
        border-bottom: solid black 2px;
        font-size: 15px;
        padding: 1%;
        position: sticky;
        top: 0;
        background-color: #EAF9EC;

    }
    .suppr-button{
        border: solid #FF7B6F 1px;
        padding: 10px;
        background-color: #EAF9EC;
        color: #FF7B6F;
        font-weight: bold;
        margin-left: 1%;
        border-radius: 5px;
        cursor: pointer;
    }
    .reponses-form{
        border-bottom: solid #62C188 2px;
        padding: 5% 0;
        padding: 1%;       

        .suppr-div{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            p{
                font-size: 10px;
            }
            
        }
        .choice-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-top: 5%;
            .selected-block{
                background-color: #62C188;
                padding: 0px 5px;
                border: solid #62C188 2px;
                color: white;
                font-weight: bold;
                border-radius: 10px;
                width: 33%;
                text-align: center;
            }
            .choice{
                border: solid #10401E 2px;
                background-color: #EAF9EC;
                color: #10401E;
                padding: 0px 5px;
                border-radius: 10px;
                width: 33%;
                text-align: center;

            }
        }
    }
    .header-reponses{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // background-color: white;
        .button-light-green{
            padding: 3%;
            color: white;
            font-weight: bold;
            border: none;
            background-color: #62C188;
            border-radius: 5px;
            font-size: 10px;
            margin-left: 2%;
            text-align: center;
            text-decoration: none;
            cursor: pointer;

        }
        .toHome{
        width: 15%;
        color: #10401E;
        text-decoration: none;
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }}
        .reponse-delete-div{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 35%;
        }
    }
   
    .reponse-container{
        // border: solid black 2px;
        .reponse-title{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            margin-top: 2%;
        }
    }

        .icon-container{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 5%;
            border-radius: 10px;
            margin-right: 3%;
            padding: 0 3px;
            color: white;
            p{
                font-size: 10px;
            }
        }
        .reponse{
            p{
                font-size: 12px;
            }
        }
    h4{
        margin: 0;
        color: #62C188;

    }
    .rate-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        // border: solid #10401E 1px;
        width: 100%;
        border-radius: 10px;
        .rate-block{
        display: flex;
        justify-content: center;
        align-items: center;
        border: solid #10401E 1px;
        flex: 1;
        cursor: pointer;

        }
        .selected-rate{
            display: flex;
            justify-content: center;
            align-items: center;
            flex:1;
            border: solid #10401E 1px;
            background-color: #10401E;
            color: white;
            cursor: pointer;

        }
    }
    
}