.create-container{
    margin-top: 20px;
   
    .header-create{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .go-back-link{
            text-decoration: none;
            color: #0d401d;
            width: 10%;

            .go-back{
                display: flex;
                align-items: center;
                justify-content: space-between;
                p{
                    font-size: 12px;
                }
            }
        }
      
            .title{
                width: 50%;

                input{
                    width: 100%;
                    border: none;
                    padding: 10px;
                    border-radius: 5px;
                    background-color: #EAF9EC;
                    border: solid 1px #62C188;
                    color: #35764B;
                }
            }
            .title>input:focus{
                outline: none;
            }
            .title>input::placeholder{
                text-align: center;
                font-weight: bold;
                color: #B5B5B5;
                font-size: 18px;
            }

            .title-buttons{
                display: flex;
                justify-content: space-around;
                button{
                    padding: 10px;
                    border-radius: 5px;
                    color:#FF7B6F;
                    border: solid 1px #FF7B6F;
                    background-color: white;
                    font-weight: bold;
                    margin-right: 15%;
                }
                input{
                    padding:  1px 8px;
                    border: none;
                    border-radius: 5px;
                    background-color: #62C188;
                    color: white;
                    font-weight: bold;
                    font-size: 13px;
                }
            }
    }
}