.question-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    margin-top: 3%;

.input-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;

    

        .type{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: nowrap;

            // margin-right: 2%;

            width: 8%;

            font-size: 14px;
            color: white;

            border: none;
            border-radius: 10%;
        }
        
        .input-div{
            width: 87%;
            input{
                width: 100%;

                padding: 9px 15px;

                border: none;      
                border-radius: 5px;

                font-weight: bolder;
                font-size: 16px;
            }:focus{
                outline-color: #62C188;
            }
           
        }
       

}
.question-buttons{
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 15%;
    // border: solid blue 2px;
    button{
        background-color: white;
        border-radius: 5px;
        border: none;
        padding: 5% 8%;
        cursor: pointer;
        .icon-trash{
            color: #FF7B6F;
        }
    }
}
}
