.main-answer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 85vh;
    margin-top: 2%;
    background-color: #EAF9EC;
    padding: 0 3%;
    border-radius: 10px;
    position: relative;

    .form-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .img-form {
            margin-left: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40%;

            img {
                height: 90%;
                width: 90%;
            }
        }

        .form-type {
            color: #62C188;
            font-size: 13px;
        }

        .form-title {
            font-size: 25px;
            color: #10401E;
            margin: 0;
            // padding: 0 1%;
        }

        .form-count {
            font-size: 14px;
            color: #62C188;
        }

        .form-button {
            padding: 5%;
            border-radius: 5%;
            border: none;
            color: white;
            font-weight: bold;
            background-color: #62C188;
            cursor: pointer;
        }
    }


}