// import style  containers
@import url("./Client/containers/Home/home.scss");
@import url("./Client/containers/AnswerForm/answerform.scss");



@import url("./Backoffice/containers/Login/login.scss");
@import url("./Backoffice/containers/Home/homebackoffice.scss");
@import url("./Backoffice/containers/CreateForm/createform.scss");
@import url("./Backoffice/containers/UpdateForm/updateform.scss");
@import url("./Backoffice/containers/Answers/answers.scss");

// import style components
@import url("./Shared/Header/header.scss");
@import url("./Client/components/AnswerForm/TextQuestionComponent/textquestioncomponent.scss");
@import url("./Backoffice/components/Create-Update/HeaderForm/headerformcomponent.scss");
@import url("./Backoffice/components/Create-Update/InputQuestionComponent/inputquestioncomponent.scss");
@import url("./Backoffice/components/Home/cardformcomponent.scss");


@font-face {
  font-family: 'Averta Std PE';
  src: url("./assets/fonts/Averta/AvertaStdPE-Bold.eot");
  src: url("./assets/fonts/Averta/AvertaStdPE-Bold.woff");
  src: url("./assets/fonts/Averta/AvertaStdPE-Bold.woff2");
  src: url("./assets/fonts/Averta/AvertaStdPE-Bold.ttf");
  src: url("./assets/fonts/Averta/AvertaStdPE-Regular.eot");
  src: url("./assets/fonts/Averta/AvertaStdPE-Regular.ttf");
  src: url("./assets/fonts/Averta/AvertaStdPE-Regular.woff");
  src: url("./assets/fonts/Averta/AvertaStdPE-Regular.woff2");
  



}


.App{
  font-family:  'Averta Std PE', sans-serif;
  padding: 0 5%;
 
}

.no-data{
  display: flex;
  justify-content: center;
  align-items: center;
}