// import style  containers
@import url("./containers/User/Home/home.scss");
@import url("./containers/User/AnswerForm/answerform.scss");



@import url("./containers/Backoffice/Login/login.scss");
@import url("./containers/Backoffice//HomeBackOffice/homebackoffice.scss");
@import url("./containers/Backoffice/CreateForm/createform.scss");
@import url("./containers/Backoffice/UpdateForm/updateform.scss");
@import url("./containers/Backoffice/Answers/answers.scss");

// import style components
@import url("./components/Shared/Header/header.scss");
@import url("./components/User/AnswerForm/TextQuestionComponent/textquestioncomponent.scss");
@import url("./components/Backoffice/Create-Update/headerformcomponent.scss");
@import url("./components/Backoffice/Create-Update/InputQuestionComponent/inputquestioncomponent.scss");
@import url("./components/Backoffice/HomeBackoffice/cardformcomponent.scss");


@font-face {
  font-family: 'Averta Std PE';
  src: url("./assets/fonts/Averta/AvertaStdPE-Bold.eot");
  src: url("./assets/fonts/Averta/AvertaStdPE-Bold.woff");
  src: url("./assets/fonts/Averta/AvertaStdPE-Bold.woff2");
  src: url("./assets/fonts/Averta/AvertaStdPE-Bold.ttf");
  src: url("./assets/fonts/Averta/AvertaStdPE-Regular.eot");
  src: url("./assets/fonts/Averta/AvertaStdPE-Regular.ttf");
  src: url("./assets/fonts/Averta/AvertaStdPE-Regular.woff");
  src: url("./assets/fonts/Averta/AvertaStdPE-Regular.woff2");
  



}


.App{
  font-family:  'Averta Std PE', sans-serif;
  padding: 0 5%;
 
}

.no-data{
  display: flex;
  justify-content: center;
  align-items: center;
}